body {
    --headerlink-spacing: 4px;
    padding-top: var(--headerlink-spacing);
}

.headerlink-wrap {
	margin-bottom: var(--headerlink-spacing);
    padding: 0 var(--headerlink-spacing);
}

@media (min-width: 700px) {
	body {
		--headerlink-spacing: 10px;
	}
}
