{% if HEADERLINK_RESPONSIVE eq '1' %}
<button id="sub-toggler" class="sub-toggler toggler-1" aria-label="{{ lang('HEADERLINK_REVEAL') }}" aria-controls="headerlink" aria-expanded="false">
	<svg viewBox="0 0 10 8" width="16" role="presentation" focusable="false"><path d="M1 1h8M1 4h 8M1 7h8" stroke="currentColor" stroke-width="1" stroke-linecap="round"/></svg>
</button>
{% endif %}
<ul id="headerlink" class="headerlink headerlink-wrap above-header{% if HEADERLINK_ALIGN eq '1' %} headerlink-center{% elseif HEADERLINK_ALIGN eq '2' %} headerlink-end{% endif %}">
{% for headerlink_urls in loops.headerlink_urls %}
	{% if (headerlink_urls.HEADERLINK_PERMISSION eq '1' and not S_REGISTERED_USER) or (headerlink_urls.HEADERLINK_PERMISSION eq '2' and S_REGISTERED_USER) or (headerlink_urls.HEADERLINK_PERMISSION eq '4' and U_ACP) or (headerlink_urls.HEADERLINK_PERMISSION eq '5' and U_MCP) or headerlink_urls.HEADERLINK_PERMISSION eq '3' %}
	<li class="headerlink-list-item nav-button" style="--headerlink-bg: {{ headerlink_urls.HEADERLINK_BUTTON_COLOUR }}; --headerlink-text-color: {{ headerlink_urls.HEADERLINK_TEXT_COLOUR }};{% if headerlink_urls.HEADERLINK_ICON_SW eq '1' %} --headerlink-icon-color: {{ headerlink_urls.HEADERLINK_ICON_COLOUR }};{% endif %}{% if pouet == 'transparent' %}--headerlink-hover-bg: {{ headerlink_urls.HEADERLINK_BUTTON_COLOUR }};{% endif %}">
		<a class="headerlink-link" href="{{ headerlink_urls.HEADERLINK_URL }}"{% if headerlink_urls.HEADERLINK_HOVER %} title="{{ headerlink_urls.HEADERLINK_HOVER }}"{% endif %}{% if headerlink_urls.HEADERLINK_TARGET eq 0 %} target="_blank"{% endif %}{% if headerlink_urls.HEADERLINK_TEXT_SHADOW eq 1 %} style="text-shadow: 1px 1px {{ headerlink_urls.HEADERLINK_TEXT_SHADOW_COLOUR }};"{% endif %}>
			{% if headerlink_urls.HEADERLINK_ICON  %}
			<i class="icon {{ headerlink_urls.HEADERLINK_ICON }} fa-fw"></i>
			{% endif %}
			<span>{{ headerlink_urls.HEADERLINK_NAME }}</span>
		</a>
	</li>
	{% endif %}
{% endfor %}
</ul>

