{% if HEADERLINK_ENABLE %}
	{% for headerlink_urls in loops.headerlink_urls %}
		{% if (headerlink_urls.HEADERLINK_PERMISSION eq '1' and not S_USER_LOGGED_IN) or (headerlink_urls.HEADERLINK_PERMISSION eq '2' and S_USER_LOGGED_IN) or (headerlink_urls.HEADERLINK_PERMISSION eq '4' and U_ACP) or (headerlink_urls.HEADERLINK_PERMISSION eq '5' and U_MCP) or headerlink_urls.HEADERLINK_PERMISSION eq '3' %}	
			{% DEFINE HAS_LINK_TO_SHOW = '1' %}
		{% endif %}
	{% endfor %}
	{% if definition.HAS_LINK_TO_SHOW %}
		{% INCLUDECSS '@hifikabin_headerlink/headerlink.css' %}
		{% INCLUDEJS '@hifikabin_headerlink/headerlink.js' %}
	{% endif %}
{% endif %}
